{% INCLUDE 'overall_header.html' %}

<h1>{{ lang('ACP_PMREGBAR') }}</h1>

<p><img src="https://img.shields.io/badge/{{ lang('PMREGBAR_VERSION') }}-{{ PMREGBAR_VERSION }}-green.svg?style=plastic" /></p>

<form id="acp_pmregbar_config" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<legend>{{ lang('ACP_PMREGBAR_CONFIG_SET') }}</legend>
		<dl>
			<dt><label for="pmregbar_enablepm">{{ lang('PMREGBAR_ENABLEPM') }}{{ lang('COLON') }}</label><br />
			<span>{{ lang('PMREGBAR_ENABLEPM_EXPLAIN') }}</span></dt>
			<dd><label><input type="radio" class="radio" name="pmregbar_enablepm" value="1"{% if PMREGBAR_ENABLEPM %} id="pmregbar_enablepm" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
			<label><input type="radio" class="radio" name="pmregbar_enablepm" value="0"{% if not PMREGBAR_ENABLEPM %} id="pmregbar_enablepm" checked="checked"{% endif %} /> {{ lang('NO') }}</label></dd>
		</dl>
		<dl>
			<dt><label for="pmregbar_enablereg">{{ lang('PMREGBAR_ENABLEREG') }}{{ lang('COLON') }}</label><br />
			<span>{{ lang('PMREGBAR_ENABLEREG_EXPLAIN') }}</span></dt>
			<dd><label><input type="radio" class="radio" name="pmregbar_enablereg" value="1"{% if PMREGBAR_ENABLEREG %} id="pmregbar_enablereg" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
			<label><input type="radio" class="radio" name="pmregbar_enablereg" value="0"{% if not PMREGBAR_ENABLEREG %} id="pmregbar_enablereg" checked="checked"{% endif %} /> {{ lang('NO') }}</label></dd>
		</dl>
		<dl>
			<dt><label for="pmregbar_enable_text">{{ lang('PMREGBAR_ENABLE_TEXT') }}{{ lang('COLON') }}</label><br />
			<span>{{ lang('PMREGBAR_ENABLE_TEXT_EXPLAIN') }}</span></dt>
			<dd><label><input type="radio" class="radio" name="pmregbar_enable_text" value="1"{% if PMREGBAR_ENABLE_TEXT %} id="pmregbar_enable_text" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
			<label><input type="radio" class="radio" name="pmregbar_enable_text" value="0"{% if not PMREGBAR_ENABLE_TEXT %} id="pmregbar_enable_text" checked="checked"{% endif %} /> {{ lang('NO') }}</label></dd>
		</dl>
		<dl>
			<dt><label for="pmregbar_text_field">{{ lang('PMREGBAR_TEXT_FIELD') }}{{ lang('COLON') }}</label><br />
			<span>{{ lang('PMREGBAR_TEXT_FIELD_EXPLAIN') }}</span></dt>
			<dd><input name="pmregbar_text_field" type="text" id="pmregbar_text_field" class="text medium" value="{{ PMREGBAR_TEXT_FIELD }}"	maxlength="255" /></dd>
		</dl>
		<p class="submit-buttons">
			<input type="hidden" name="action" value="save" />
			<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
			<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
			{{ S_FORM_TOKEN }}
		</p>
	</fieldset>
</form>

{% INCLUDE 'overall_footer.html' %}